<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Admin{%endblock title %}</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
        
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
        
        <script src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
    </head>
    
    <body>
        <div data-role="page" data-theme="b">
            <div data-role="header" data-theme="a">
                {% block header %}
                    Admin
                {% endblock header %}
            </div>

            <div data-role="content">
                {% block body %}
                    {% block content %}
                    {% endblock content %}
                {% endblock body %}
            </div>
        </div>
    </body>
</html>