{% extends 'CodeMemeAdminBundle::layout.html.twig' %}

{% block content %}
<ul>
{% for model in models %}
    <li>
        <a href="{{ path('admin.list', { 'slug': model.slug }) }}">
            {{ model.label | capitalize }}
        </a>
    </li>
{% else %}
    <li>Sorry, but nothing has been configured yet.</li>
{% endfor %}
</ul>

{% endblock %}