{% extends "TwigBundle::div_layout.html.twig" %}

{% block field__row %}
<li data-role="fieldcontain">
    {{ renderer.label }}
    {{ renderer.errors }}
    {{ renderer.widget }}
</li>
{% endblock %}