{% extends "TwigBundle:Form:div_layout.html.twig" %}

{% block field_row %}
<li data-role="fieldcontain" class="{% if form.vars.required %}required{% endif %}">
    <div class="span-11">
        {{ form_label(form) }}
    </div>
    <div class="span-12 last">
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
    <div class="clear"></div>
</li>
{% endblock %}
